.desc {
    margin-top: 58px;
}

.desc__block-img {
    margin-bottom: 11px;

}
.desc__data {
    margin: 115px;
}
.desc__info {
}
.info {
}
.desc__info-extra {
}
.info-extra {
}
.desc__link {
}
.link {
}